@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.abyss-bg');
  color: theme('colors.abyss-text');
  margin: 0;
}

/* Scrollbar Style */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-track { background: transparent; }